#clockContainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(/clock.jpg) no-repeat;
    background-size: 100%;
    margin: 10vh auto;
    
}

 #hour,#min,#sec{
    position: absolute;
    background: black;
    border-radius :10px;
}
#hour{
    width: 2%;
    height: 32%;
    top: 17%;
    left: 48.5%;
    opacity: 0.8;
    transform-origin: bottom;
    
}
#min{
    width: 2%;
    height: 31%;
    top: 16%;
    left: 48.5%;
    opacity: 0.2;
    transform-origin: bottom;
    
}
#sec{
    width: 2%;
    height: 31%;
    top: 18%;
    left: 48.4%;
    opacity: 0.4;
    transform-origin: bottom;
}

body{
    /* background: rgb(221, 164, 164); */
}
.text{
    font-style: italic;
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 85, 255);
}